.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 7, 7); /* Đã sửa thành đỏ */
  padding: 10px 20px;
  color: rgb(253, 253, 253);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.nav {
  flex-grow: 1;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: space-between; /* Đã thêm để căn giữa các liên kết */
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.search-cart {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  margin-right: 10px;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}


